In [9]:
import pandas as pd
data_sets = pd.read_csv('GBvideos.csv',encoding='utf-8',usecols=['video_id','likes','dislikes'])

In [10]:
lis = ['_JbpTEtGTz8','24-AhdoN_Nk','I6YQz96PYvw','lERhNXw6FaQ','mTf3Dcj5NPU','LmOPXhFensg','lERhNXw6FaQ','24-AhdoN_Nk',
'HzILu6yyA20','Oa9c9JBBGxM','CE7SkcoyVAI','x1QroTKqG8c','3uGIEY7tdg8','ILDMJavIY-k','fAIX12F6958']

In [11]:
data_sets

          video_id   likes  dislikes
0      Jw1Y-zhQURU   55681     10247
1      3s1rvMFUweQ   25561      2294
2      n1WpP7iowLc  787420     43420
3      PUTEiSjKwJU     193        12
4      rHwDegptbI4      30         2
...            ...     ...       ...
38911  l884wKofd54  268088     12783
38912  IP8k2xkhOdI   61998     13781
38913  Il-an3K9pjg  394830      8892
38914  -DRsfNObKIQ  151870     45875
38915  4YFo4bdMO8Q   18271       274

[38916 rows x 3 columns]

In [12]:

filt = data_sets[data_sets['video_id'].isin(lis)]

In [13]:
filt

          video_id   likes  dislikes
8196   LmOPXhFensg   10971       125
8397   LmOPXhFensg   19336       280
8605   LmOPXhFensg   24480       374
8813   LmOPXhFensg   26630       422
9022   LmOPXhFensg   28927       460
...            ...     ...       ...
38702  ILDMJavIY-k    3478        60
38814  fAIX12F6958  228670     16420
38820  3uGIEY7tdg8   15097      1393
38845  CE7SkcoyVAI   15467      4160
38870  ILDMJavIY-k    3529        61

[146 rows x 3 columns]

In [14]:
filt.cov()

                 likes      dislikes
likes     2.445096e+09  1.645183e+08
dislikes  1.645183e+08  1.299114e+07

In [15]:
co = filt.cov()

In [16]:
print(co['likes'][1])

164518322.19475678